// Event

extends ../layout

block title
    | {{ event.name }}

append head
    {% if event.is_private %}
    meta(name="robots", content="noindex,nofollow")
    {% endif %}
    link(rel="stylesheet", href="{{ STATIC_URL }}jQueryUI/jquery-ui.css")
    link(rel="stylesheet", href="{{ STATIC_URL }}redactor/redactor.css")
    //- Facebook
    meta(property="og:url", content="{{ request.build_absolute_uri }}")
    meta(property="og:title", content="{{ event.name }}")
    meta(property="og:description", content="{{ event.summary }}")
    {% if event.cover %}
    meta(property="og:image", content="{{ event.cover.source.url|sanitizeUrl }}")
    link(rel="image_src", href="{{ event.cover.source.url|sanitizeUrl }}")
    {% endif %}

block vars
    - var collapsed = true

prepend body
    {% if not user.fb_id %}
    include ../components/facebook
    {% endif %}

block content
    div#event.content_divided.event_base(class="{% if event.cover %}with_cover{% endif %}")
        div.title
            div.inner
                div.top
                    div.text
                        {{ event.name }}
                    {% if editable %}
                    div.button Edit
                    div.editor.hidden
                        input(type="text", name="name", placeholder="Event name", value="{{ event.name }}")
                    {% else %}
                    div.controls
                    {% endif %}
                    div.clear
                div.bottom
                    div.details
                        //- Format the times to form something like this
                        //- Jul 9th, 10pm - 11pm
                        //- or
                        //- Jul 9th, 10am - Jul 10th, 11pm
                        | {% spaceless %}
                        | {{ event.start_time|date:"M jS, f" }}{{ event.start_time|date:"A"|lower }}
                        | {% if event.end_time %}
                        | {% if event.end_time|shouldShortenEndTime:event.start_time %}
                        |  - {{ event.end_time|date:"f" }}{{ event.end_time|date:"A"|lower }}
                        | {% else %}
                        |  - {{ event.end_time|date:"M jS, f" }}{{ event.end_time|date:"A"|lower }}
                        | {% endif %}
                        | {% endif %}
                        | {% if event.location %}
                        | at 
                        b {{ event.location }}
                        | {% endif %}
                        | {% endspaceless %}
                    div.sponsor.hidden
                        a(href="javascript:;")
                            i Want to sponsor this event?
                    div.clear
                    {% if editable %}
                    div.controls
                        span.hidden Drag the image an appropriate position. 
                        a.edit(href="javascript:;") 
                            | {% if event.cover %}Edit Cover{% else %}Add Cover{% endif %}
                        a.delete(href="javascript:;", class="{% if not event.cover %}hidden{% endif %}") 
                            | Delete
                        a.hidden.save(href="javascript:;") Save
                        a.hidden.cancel(href="javascript:;") Cancel
                        div.clear
                        form.upload_cover
                            input.hidden(type="file", name="image_file")
                            {% csrf_token %}
                    {% endif %}
                    {% if editable or tickets|length != 0 %}
                    div.action.hanging
                        div.button
                            b
                                {% if editable %}
                                | Edit Tickets
                                {% else %}
                                {% if rsvp %}
                                | RSVP
                                {% else %}
                                | Buy Tickets
                                {% endif %}
                                {% endif %}
                        div.price
                            b
                                {% if rsvp %}
                                | Free
                                {% else %}
                                | ${{ cheapest|floatformat:-2 }}{% if tickets|length != 1 %}+{% endif %}
                                {% endif %}
                        div.clear
                    {% endif %}
                    div.share.hanging(class="{% if not event.is_launched %}hidden{% endif %}")
                        b Share on Facebook
                    {% if editable %}
                    div.launch.hanging(class="{% if event.is_launched %}launched{% endif %}")
                        b 
                            {% if event.is_launched %}
                            | Take Event Offline
                            {% else %}
                            | Launch Event
                            {% endif %}
                    {% endif %}
        div.cover
            div.inner
                div.image
                    div.bounds
                        {% if event.cover %}
                        img.normal(src="{{ event.cover.source.url }}")
                        {% endif %}
            //div.caption
                div.inner
                    div.text
                        {% if event.cover and event.cover.caption|length != 0 %}
                        {{ event.cover.caption }}
                        {% else %}
                        i No caption yet.
                        {% endif %}
                    {% if event.cover and editable %}
                    div.button Edit
                    div.editor.hidden
                        input(type="text", name="caption", placeholder="Maximum 100 Characters", value="{{ event.cover.caption }}")
                    {% endif %}
        div.frame
            div.left
                {% if editable %}
                div.placeholder
                {% endif %}
                div.description
                    div.editor
                        div.inner
                            {{ event.description|safe }}
                    {% if editable %}
                    div.controls
                        a.save(href="javascript:;") Save
                        a.edit(href="javascript:;") Edit
                    {% endif %}
            div.right
                div.organizers.info
                    div.caption
                        div.text Organizer{{ organizers|pluralize }}
                        div.clear
                    div.body
                        {% for organizer in organizers %}
                        div.organizer
                            div.icon
                            div.name
                                // href="{% url profile:index organizer.profile.id %}"
                                a
                                    b {{ organizer.profile.name }}
                            div.clear
                        {% endfor %}
                div.summary.info
                    div.caption
                        div.text Summary
                        {% if editable %}
                        div.button Edit
                        {% endif %}
                        div.clear
                    div.body
                        div.text
                            {% if event.summary|length != 0 %}
                            {{ event.summary }}
                            {% else %}
                            | No summary yet.
                            {% endif %}
                        {% if editable %}
                        div.editor.hidden
                            textarea(name="summary", placeholder="Maximum 100 Characters")
                                | {{ event.summary }}
                        {% endif %}
                div.tags.info
                    div.caption
                        div.text Tags
                        {% if editable %}
                        div.button Edit
                        {% endif %}
                        div.clear
                    div.body
                        div.text
                            {% if event.tags|length != 0 %}
                            {% for tag in event.tags|split:"," %}
                            div.tag {{ tag }}
                            {% endfor %}
                            div.clear
                            {% else %}
                            | No tags yet.
                            {% endif %}
                        {% if editable %}
                        div.editor.hidden
                            textarea(name="tags", placeholder="Max. 50 Chars. Separate by comma")
                                | {{ event.tags }}
                        {% endif %}
            div.clear
        div.placeholder
        div.sponsors.hidden
            div.caption
                div.text Sponsors
                div.clear
        div.others.hidden
            div.similar
            div.nearby
            div.recommendation
            div.clear
    {% if editable %}
    div#tickets.event_overlay_canvas
        div.title Edit Ticket Options
        div.controls
            a.add(href="javascript:;") Add Ticket/RSVP Option
        mixin ticket(id, name, description, price, quantity, start_time, end_time)
            div.ticket(class=attributes.class, data-id=id)
                form
                    div.name
                        div.text= name
                        div.editor
                            input(type="text", name="name", placeholder="Name", value=name)
                    div.description
                        div.text= description
                        div.editor
                            input(type="text", name="description", placeholder="Short description", value=description)
                    div.price
                        div.text= '$ ' + price
                        div.editor
                            input(type="text", name="price", placeholder="Price", value=price)
                    div.quantity
                        div.text= quantity
                        div.editor
                            input(type="text", name="quantity", placeholder="Quantity (Unlimited if left blank)", value=quantity)
                    div.start_time
                        div.text= start_time
                        div.editor
                            input(type="text", name="start_time", placeholder="Start time", value=start_time)
                    div.end_time
                        div.text= end_time
                        div.editor
                            input(type="text", name="end_time", placeholder="End time", value=end_time)
                    div.buttons
                        a.switch.edit(href="javascript:;") Edit
                        a.delete(href="javascript:;") Delete
        +ticket()(class="template hidden")
        div.tickets
            {% for ticket in tickets %}
            +ticket('{{ ticket.id }}', '{{ ticket.name }}', '{{ ticket.description }}', '{{ ticket.price|floatformat:-2 }}', '{{ ticket.quantity }}', '{{ ticket.start_time|standardTime }}', '{{ ticket.end_time|standardTime }}')
            {% endfor %}
            div.empty(class="{% if tickets|length != 0 %}hidden{% endif %}")
                i No RSVP options yet.
    {% else %}
    div#rsvp.event_overlay_canvas
        div.tickets
            div.header
                div.title {% if rsvp %}RSVP Options{% else %}Ticket Options{% endif %}
                div.caption
            div.content
                {% for ticket in tickets %}
                div.ticket(class="{% if ticket|validateTiming %}valid{% endif %} {% if forloop.last %}last{% endif %}", data-id="{{ ticket.id }}")
                    div.input
                        input(type="radio")
                    div.body
                        div.name {{ ticket.name }}
                        div.description {{ ticket.description }}
                    div.detail
                        div.price 
                            b 
                                | {% if ticket.price > 0 %}$ {{ ticket.price|floatformat:-2 }}{% else %}Free{% endif %}
                        div.quantity 
                            | {% if ticket.quantity == None or ticket.quantity > 20 %}
                            | Available
                            | {% elif ticket.quantity == 0 %}
                            | Sold Out
                            | {% else %}
                            | {{ ticket.quantity }} Left
                            | {% endif %}
                    div.clear
                {% endfor %}
        {% if not user %}
        div.user.hidden
            div.header
                div.title Continue as a user
                div.caption Save time with an account on Bazaarboy
            div.content
                div.login
                    div.caption Log In
                    div.form
                        form.login
                            input(type="text", name="email", placeholder="Email")
                            input(type="password", name="password", placeholder="Password")
                            input(type="submit", value="Log In")
                div.divider
                div.register
                    div.caption Register
                    div.form
                        form.register
                            input(type="text", name="full_name", placeholder="Your Name")
                            input(type="text", name="email", placeholder="Email")
                            input(type="password", name="password", placeholder="Password")
                            input(type="submit", value="Register")
                            input(type="hidden", name="city", value="{{ event.city.id }}")
                div.clear
        div.info
            div.header
                div.title Some details about you
                div.caption 
                    | We treat your privacy seriously, these information will not be shared 
                    | with any outside parties.
            div.content
                input(type="text", name="email", placeholder="Email")
                input(type="text", name="full_name", placeholder="Full Name")
                input(type="text", name="phone", placeholder="Phone Number (Optional)")
                div.clear
        {% endif %}
        div.action
            div.header
                div.title
                    a.confirm(href="javascript:;") Confirm
        div.confirmation.hidden
            div.header
                div.title Confirmation
            div.content
                div.caption Thank you!
                div.body
                    div.upper
                        h2 You have {% if rsvp %}RSVP'd{% else %}purchased a ticket{% endif %} for
                        p.name {{ event.name }}
                        p.time 
                            | {{ event.start_time|date:"F jS, Y @ f" }}{{ event.start_time|date:"A"|lower }}
                        p.location
                            | at {{ event.location }}
                    div.lower
                        p.top
                            span.ticket
                            span.price
                            span.clear
                        p 
                            | A more detailed confirmation invoice will be emailed to you 
                            | at 
                            span.email 
                            |  shortly. Thanks for your purchase!
    {% endif %}

append script
    //-script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyBb4LqJdxCDjVWlgqLsdgtMpiI3fFloTiw")
    {% if editable %}
    script(type="text/javascript", src="{{ STATIC_URL }}jQueryUI/jquery-ui.min.js")
    script(type="text/javascript", src="{{ STATIC_URL }}redactor/redactor.min.js")
    {% else %}
    script(type="text/javascript", src="https://checkout.stripe.com/v2/checkout.js")
    {% endif %}
    script(type="text/javascript").
        var eventId = {{ event.id }};
        var editable = {% if editable %}true{% else %}false{% endif %};
        var token{% if params.token %} = '{{ params.token }}'{% endif %};
    script(type="text/javascript", src="{{ STATIC_URL }}js/event/index.js")