// Index

extends ../layout

block sidebar
    div.create-event(data-profile-id="{{ profiles.0.id }}")
        div.secondary-btn.btn.full-btn.hide-for-medium-only
            | <span class="plus">+</span> Create Event
        div.secondary-btn.btn.full-btn.show-for-medium-only
            | <span class="plus">+</span>
    +sidebarItem('ss-newspaper')(href="javascript:;")(class="events-filter events-filter-summary selected")
        | Events
    +sidebarItemSub('{{ currentEventsCount }}')(class="first events-filter events-filter-current")
        | Current Events
    +sidebarItemSub('{{ draftEventsCount }}')(class="events-filter events-filter-draft")
        | Event Drafts
    +sidebarItemSub('{{ pastEventsCount }}')(class="events-filter events-filter-past")
        | Past Events
    +sidebarItem('ss-database')(href="{% url list:index %}")
        | Lists
    +sidebarItem('ss-tag')(href="{% url reward:index %}")
        | Gifts
    +sidebarItem('ss-share')(href="{% url user:settings %}")
        | Settings

block header
    div.header-title.large-9.medium-10.columns.small-centered
        div.row.clearfix
            div.icon.left
                span.ss-newspaper
            div.text.headline.left
                | Events | 
                span.sub Overview
    
block content
    mixin draftEvent()
        div.draft-event.row(data-id="{{ event.id }}", data-launched-time="{{ event.launched_time|date:'Y-m-d H:i:s' }}")
            div.small-12.columns.tile
                div.header.row
                    div.draft-event-date
                        div.month {{ event.start_time|date:'M' }}
                        div.day {{ event.start_time|date:'j' }}
                    div.draft-event-title.headline.large-7.medium-6.small-12.columns
                        | {{ event.name }}
                    div.draft-event-view.large-5.medium-6.small-12.columns
                        div.row
                            div.medium-7.small-12.columns.draft-publish
                                a.btn.secondary-btn.full-btn.launch-draft(href="javascript:;", data-id="{{ event.id }}")  
                                    | Launch Event
                            div.medium-5.small-6.columns
                                a.btn.secondary-btn-inverse.delete-draft(href="javascript:;", data-id="{{ event.id }}") 
                                    | Delete
                div.info.small-12.columns
                    div.inner.row
                        div.draft-event-datetime.medium-3.small-6.columns
                            div.draft-event-time
                                span
                                    span.ss-clock &nbsp;
                                    {{ event.start_time|date:'g:iA' }}{% if event.end_time %}-{{ event.end_time|date:'g:iA' }}{% endif %}
                        div.draft-event-location-container.medium-9.small-12.columns
                            div.draft-event-location
                                span
                                    span.ss-location &nbsp;
                                    {% if event.location|length > 0 %}{{ event.location }}{% else %}NO LOCATION SELECTED{% endif %}
                div.stats.small-12.columns
                    div.row
                        div.draft-event-stats.medium-9.small-12.columns
                            div.bg.row
                                div
                            div.inner.row
                                div
                                    div.summary.medium-12.columns
                                        div.summary-title
                                            | EVENT SUMMARY
                                        div.summary-text
                                            {{ event.summary }}
                        div.draft-event-actions.medium-3.small-12.columns
                            {% if event.creator %}
                            a.draft-event-action.first(href="{% url event:modify event.id 'basics' %}")
                                div.icon
                                    span.ss-info
                                div.text
                                    span Edit Info
                            a.draft-event-action(href="{% url event:modify event.id 'tickets' %}")
                                div.icon
                                    span.ss-creditcard
                                div.text
                                    span Ticket Options
                            a.draft-event-action(href="{% url event:collaborators event.id %}")
                                div.icon
                                    span.ss-usergroup
                                div.text
                                    span Collaborators
                            a.draft-event-action(href="{{ event|eventUrl }}?design")
                                div.icon
                                    span.ss-picture
                                div.text
                                    span Page Design
                            {% endif %}
                            a.draft-event-action.last(href="{{ event|eventUrl }}?preview")
                                div.icon
                                    span.ss-airplay
                                div.text
                                    span Preview Event
    mixin currentEvent()
        div.current-event.row(data-id="{{ event.id }}", data-launched-time="{{ event.launched_time|date:'Y-m-d H:i:s' }}")
            div.small-12.columns.tile
                div.header.row
                    div.current-event-date
                        div.month {{ event.start_time|date:'M' }}
                        div.day {{ event.start_time|date:'j' }}
                    div.current-event-title.headline.large-9.medium-8.small-12.columns
                        | {{ event.name }}
                    div.current-event-view.large-3.medium-4.small-12.columns
                        div.row
                            div.medium-10.medium-offset-2.columns
                                a.btn.secondary-btn(href="{{ event|eventUrl }}") 
                                    | View Event
                div.info.small-12.columns
                    div.inner.row
                        div.current-event-datetime.medium-3.small-6.columns
                            div.current-event-time
                                span
                                    span.ss-clock &nbsp;
                                    {{ event.start_time|date:'g:iA' }}{% if event.end_time %}-{{ event.end_time|date:'g:iA' }}{% endif %}
                        div.current-event-location-container.medium-9.small-6.columns
                            div.current-event-location
                                span
                                    span.ss-location &nbsp;
                                    {% if event.location|length > 0 %}{{ event.location }}{% else %}NO LOCATION SELECTED{% endif %}
                div.stats.small-12.columns
                    div.row
                        div.current-event-stats.medium-9.small-12.columns
                            div.bg.row
                                div
                            div.inner.row
                                div
                                    div.numbers.medium-4.small-12.columns
                                        div.count
                                            div.title
                                                | RSVPs
                                            div.number
                                                {{ event.rsvpCount }}{% if event.potentialQuantity %}/{{ event.potentialQuantity }}{% endif %}
                                        {% if event.creator %}
                                        div.sales
                                            div.title
                                                | Revenue
                                            div.number
                                                | ${{ event.totalSale|floatformat:"-2" }}
                                        div.sales-potential
                                            div.title
                                                | {% if event.potentialSale %}Potential Rev.{% endif %}
                                            div.number
                                                | {% if event.potentialSale %}${{ event.potentialSale|floatformat:"-2" }}{% else %}{% endif %}
                                        {% endif %}
                                    div.graph.medium-8.columns.hide-for-small-only
                                        div.graph-frame
                                            div.graph-canvas
                        div.current-event-actions.medium-3.small-12.columns
                            {% if event.creator %}
                            a.current-event-action.first(href="{% url event:modify event.id 'basics' %}")
                                div.icon
                                    span.ss-write
                                div.text
                                    span Edit Event
                            a.current-event-action(href="{% url event:collaborators event.id %}")
                                div.icon
                                    span.ss-usergroup
                                div.text
                                    span Collaborators
                            {% endif %}
                            a.current-event-action(href="{% url event:invite event.id %}")
                                div.icon
                                    span.ss-mail
                                div.text
                                    span Invitations
                            a.current-event-action(href="{% url event:manage event.id %}")
                                div.icon
                                    span.ss-file
                                div.text
                                    span Guest List
                            {% if event.creator %}
                            a.current-event-action.last(href="{% url event:export %}?id={{ event.id }}")
                                div.icon
                                    span.ss-outbox
                                div.text
                                    span Export Guests
                            {% endif %}
    mixin pastEvent()
        div.past-event.row(data-id="{{ event.id }}", data-launched-time="{{ event.launched_time|date:'Y-m-d H:i:s' }}")
            div.small-12.columns.tile
                div.header.row
                    div.past-event-date
                        div.month {{ event.start_time|date:'M' }}
                        div.day {{ event.start_time|date:'j' }}
                    div.past-event-title.headline.large-9.medium-8.small-12.columns
                        | {{ event.name }}
                    div.past-event-view.large-3.medium-4.small-12.columns
                        div.row
                            div.medium-10.medium-offset-2.columns
                                a.btn.secondary-btn(href="{{ event|eventUrl }}", target="_blank") 
                                    | View Event
                div.info.small-12.columns
                    div.inner.row
                        div.past-event-datetime.medium-3.small-6.columns
                            div.past-event-time
                                span
                                    span.ss-clock &nbsp;
                                    {{ event.start_time|date:'g:iA' }}{% if event.end_time %}-{{ event.end_time|date:'g:iA' }}{% endif %}
                        div.past-event-location-container.medium-9.small-6.columns
                            div.past-event-location
                                span
                                    span.ss-location &nbsp;
                                    {% if event.location|length > 0 %}{{ event.location }}{% else %}NO LOCATION SELECTED{% endif %}
                div.stats.small-12.columns
                    div.row
                        div.past-event-stats.medium-9.small-12.columns
                            div.bg.row
                                div
                            div.inner.row
                                div
                                    div.numbers.medium-4.small-12.columns
                                        div.count
                                            div.title
                                                | RSVPs
                                            div.number
                                                {{ event.rsvpCount }}{% if event.potentialQuantity %}/{{ event.potentialQuantity }}{% endif %}
                                        div.sales
                                            div.title
                                                | Revenue
                                            div.number
                                                | ${{ event.totalSale|floatformat:"-2" }}
                                        div.sales-potential
                                            div.title
                                                | {% if event.potentialSale %}Potential Rev.{% endif %}
                                            div.number
                                                | {% if event.potentialSale %}${{ event.potentialSale|floatformat:"-2" }}{% else %}{% endif %}
                                    div.graph.medium-8.columns.hide-for-small-only
                                        div.graph-frame
                                            div.graph-canvas
                        div.past-event-actions.medium-3.small-12.columns
                            {% if event.creator %}
                            a.past-event-action.first(href="{% url event:follow-up event.id %}")
                                div.icon
                                    span.ss-mail
                                div.text
                                    span Follow Up
                            {% endif %}
                            a.past-event-action.add-to-list-btn.first(href="javascript:;", data-id="{{ event.id }}", data-name="{{ event.name }}", data-count="{{ event.rsvpCount }}", style="{% if not event.creator %}first{% endif %}")
                                div.icon
                                    span.ss-retweet
                                div.text
                                    span Add To List
                            {% if event.creator %}
                            a.past-event-action(href="{% url event:modify event.id 'basics' %}")
                                div.icon
                                    span.ss-info
                                div.text
                                    span Edit Event
                            {% endif %}
                            a.past-event-action(href="{% url event:manage event.id %}")
                                div.icon
                                    span.ss-file
                                div.text
                                    span Guest List
                            {% if event.creator %}
                            a.past-event-action.last(href="{% url event:export %}?id={{ event.id }}")
                                div.icon
                                    span.ss-outbox
                                div.text
                                    span Export Guests
                            {% endif %}
    mixin pastEventAttention()
        div.past-event-attention.row(data-id="{{ event.id }}", data-launched-time="{{ event.launched_time|date:'Y-m-d H:i:s' }}")
            div.small-12.columns.tile
                div.header.row
                    div.past-event-date
                        div.month {{ event.start_time|date:'M' }}
                        div.day {{ event.start_time|date:'j' }}
                    div.past-event-title.headline.large-9.medium-8.small-12.columns
                        | {{ event.name }}
                    div.past-event-view.large-3.medium-4.small-12.columns
                        div.row
                            div.medium-10.medium-offset-2.columns
                                a.btn.secondary-btn(href="{{ event|eventUrl }}", target="_blank") 
                                    | View Event
                div.attention-container.row
                    div.small-12.medium-6.columns.text
                        | {% if event.creator %}Follow Up and {% endif %}Add Attendees to List
                    {% if event.creator %}
                    div.small-12.medium-3.columns
                        a.secondary-btn-inverse.btn-full(href="{% url event:follow-up event.id %}") Follow Up
                    {% endif %}
                    div.small-12.medium-3.columns
                        a.secondary-btn-inverse.btn-full.add-to-list-btn(href="javascript:;", data-id="{{ event.id }}", data-name="{{ event.name }}", data-count="{{ event.rsvpCount }}") Add to List
                div.info.small-12.columns
                    div.inner.row
                        div.past-event-datetime.medium-3.small-6.columns
                            div.past-event-time
                                span
                                    span.ss-clock &nbsp;
                                    {{ event.start_time|date:'g:iA' }}{% if event.end_time %}-{{ event.end_time|date:'g:iA' }}{% endif %}
                        div.past-event-location-container.medium-9.small-6.columns
                            div.past-event-location
                                span
                                    span.ss-location &nbsp;
                                    {% if event.location|length > 0 %}{{ event.location }}{% else %}NO LOCATION SELECTED{% endif %}
                div.stats.small-12.columns
                    div.row
                        div.past-event-stats.medium-9.small-12.columns
                            div.bg.row
                                div
                            div.inner.row
                                div
                                    div.numbers.medium-4.small-12.columns
                                        div.count
                                            div.title
                                                | RSVPs
                                            div.number
                                                {{ event.rsvpCount }}{% if event.potentialQuantity %}/{{ event.potentialQuantity }}{% endif %}
                                        div.sales
                                            div.title
                                                | Revenue
                                            div.number
                                                | ${{ event.totalSale|floatformat:"-2" }}
                                        div.sales-potential
                                            div.title
                                                | {% if event.potentialSale %}Potential Rev.{% endif %}
                                            div.number
                                                | {% if event.potentialSale %}${{ event.potentialSale|floatformat:"-2" }}{% else %}{% endif %}
                                    div.graph.medium-8.columns.hide-for-small-only
                                        div.graph-frame
                                            div.graph-canvas
                        div.past-event-actions.medium-3.small-12.columns
                            {% if event.creator %}
                            a.past-event-action.first(href="{% url event:follow-up event.id %}")
                                div.icon
                                    span.ss-mail
                                div.text
                                    span Follow Up
                            {% endif %}
                            a.past-event-action.add-to-list-btn.first(href="javascript:;", data-id="{{ event.id }}", data-name="{{ event.name }}", data-count="{{ event.rsvpCount }}", style="{% if not event.creator %}first{% endif %}")
                                div.icon
                                    span.ss-retweet
                                div.text
                                    span Add To List
                            {% if event.creator %}
                            a.past-event-action(href="{% url event:modify event.id 'basics' %}")
                                div.icon
                                    span.ss-info
                                div.text
                                    span Edit Event
                            {% endif %}
                            a.past-event-action(href="{% url event:manage event.id %}")
                                div.icon
                                    span.ss-file
                                div.text
                                    span Guest List
                            {% if event.creator %}
                            a.past-event-action.last(href="{% url event:export %}?id={{ event.id }}")
                                div.icon
                                    span.ss-outbox
                                div.text
                                    span Export Guests
                            {% endif %}
    div#wrapper-dashboard.large-9.medium-10.columns.small-centered
        {% if eventsCount == 0 and collaboration_requests|length == 0 %}
        div.empty-state-container
            div.row
                div.medium-5.columns
                    &nbsp;
                div.medium-6.columns.end.empty-state-content
                    div.text New Here?
                    hr
                    div.subtext Try creating your first event!
                    div.row
                        div.large-5.medium-7.small-9
                            div.create-event(data-profile-id="{{ profiles.0.id }}")
                                div.btn.secondary-btn.full-btn
                                    | <span class="plus">+</span> Create Event
        {% endif %}

        {% if collaboration_requests|length > 0 %}
        div.collaboration-requests
            div.row
                div.small-12.columns
                    div.headline Event Collaboration Requests
            {% for request in collaboration_requests %}
            div.row.request
                div.small-12.medium-5.columns.text
                    a(href="{% url event:index request.event.id %}?preview", target="_blank") {{ request.event.name }}
                div.small-12.medium-3.columns.text
                    | {{ request.sender.profile.name }}
                div.small-12.medium-2.columns
                    a.primary-btn.full-btn.accept-request(href="javascript:;", data-id="{{ request.id }}") Accept
                div.small-12.medium-2.columns
                    a.primary-btn-inverse.full-btn.reject-request(href="javascript:;", data-id="{{ request.id }}") Reject
            {% endfor %}
        {% endif %}
        {% if reward_list|length > 0 %}
        div.active-rewards
            div.row
                div.small-12.columns
                    div.headline {{ reward_list|length }} Active Gift{{ reward_list|length|pluralize }}&nbsp;&nbsp;|&nbsp;&nbsp;
                        a.show-btn.primary-btn.small-btn(href="javascript:;") Show Gift{{ reward_list|length|pluralize }}
            div.reward-list
                {% for reward in reward_list %}
                div.row.reward
                    div.small-12.medium-4.columns.text
                        a(href="{{ reward.attachment.source.url }}", target="_blank") {{ reward.name }}
                    div.small-12.medium-2.columns.text {{ reward.claims }} claim{{ reward.claims|pluralize }}
                    div.small-12.medium-2.columns.text {{ reward.redemptions }} redeem{{ reward.redemptions|pluralize }}
                    div.small-12.medium-4.columns
                        a.primary-btn-inverse.full-btn(href="{% url reward:manage reward.id %}") Manage Redemptions
                {% endfor %}
        hr
        {% endif %}
        div.event-tiles-container.summary-events.active
            {% if pastEventsAttentionCount > 0 %}
            div.events-overview-title
                div.title.headline.left
                    span.events-count {{ pastEventsAttentionCount }}
                    | &nbsp;&nbsp;Recently Ended Events
                div.clearfix &nbsp;
            {% for event in pastEventsAttention %}
            +pastEventAttention()
            {% endfor %}
            {% endif %}
            {% if currentEventsCount > 0 %}
            div.events-overview-title
                div.title.headline.left
                    span.events-count {{ currentEventsCount }}
                    | &nbsp;&nbsp;Current Events
                div.clearfix &nbsp;
            {% for event in currentEvents %}
            +currentEvent()
            {% endfor %}
            {% endif %}
            {% if draftEventsCount > 0 %}
            div.events-overview-title
                div.title.headline.left
                    span.events-count {{ draftEventsCount }}
                    | &nbsp;&nbsp;Draft Events
                    span.pipe &nbsp;|
                a.view-all.events-filter.events-filter-draft(href="javascript:;") &nbsp;View All Draft Events
                div.clearfix &nbsp;
            {% with event=draftEvents.0 %}
            +draftEvent()
            {% endwith %}
            {% endif %}
            {% if pastEventsCount > 0 %}
            div.events-overview-title
                div.title.headline.left
                    span.events-count {{ pastEventsCount }}
                    | &nbsp;&nbsp;Past Events
                    span.pipe &nbsp;|
                a.view-all.events-filter.events-filter-past(href="javascript:;") &nbsp;View All Past Events
                div.clearfix &nbsp;
            {% with event=pastEvents.0 %}
            +pastEvent()
            {% endwith %}
            {% endif %}
        div.event-tiles-container.current-events.hidden
            {% for event in currentEvents %}
            +currentEvent()
            {% endfor %}
        div.event-tiles-container.draft-events.hidden
            {% for event in draftEvents %}
            +draftEvent()
            {% endfor %}
        div.event-tiles-container.past-events.hidden
            {% for event in pastEvents %}
            +pastEvent()
            {% endfor %}

        div.list-template.hide
            div.row.list(data-id="")
                div.small-9.columns.list-name
                div.small-3.columns.text-right.list-action
        div#add-list-modal.reveal-modal.medium(data-reveal)
            input(type="hidden", name="event_id", value="")
            input(type="hidden", name="profile_id", value="{{ profile.id }}")
            div.row
                div.small-12.columns.text-center
                    div.headline
                        | Add&nbsp;'
                        span.event-name name
                        | ' Attendees to Lists &nbsp;(
                        span.attendee-count 0
                        | &nbsp;Attendees)
            hr
            div.row.new-list-inputs
                div.medium-8.small-12.columns
                    input(name="list_name", placeholder="List Name (required)")
                div.small-12.medium-4.columns
                    a.create-list.primary-btn(href="javascript:;") + Add New List
            hr
            div.row
                div.small-12.columns.text-center
                    div.headline Choose Lists
            div.row
                div.small-12.columns.lists
                    {% for list in lists %}
                    div
                        div.row.list(data-id="{{ list.id }}")
                            div.small-9.columns.list-name
                                | {{ list.name|truncatechars:40 }}
                            div.small-3.columns.text-right.list-action
                                | {{ list.items }} Membe{{ list.items|pluralize:"r,rs" }}
                    {% endfor %}
            div.row
                div.small-12.columns.submit-actions
                    div.row
                        div.small-6.columns.status &nbsp;
                        div.small-3.columns
                            a.primary-btn.full-btn.submit-add-btn(href="javascript:;") Submit
                        div.small-3.columns
                            a.primary-btn-inverse.full-btn.add-cancel-btn(href="javascript:;") Cancel

append script
    script(src="{{ STATIC_URL }}js/index/index.js")