extends ../layout

block title
    | Rewards Dashboard

append head
    link(rel="stylesheet", href="{{ STATIC_URL }}pikaday/pikaday.css")

block sidebar
    +sidebarItem('ss-newspaper')(href="{% url 'index' %}")
        | Events
    +sidebarItem('ss-database')(href="{% url 'list:index' %}")
        | Lists
    +sidebarItem('ss-tag')(href="{% url 'reward:index' %}")(class="selected")
        | Gifts
    +sidebarItem('ss-share')(href="{% url 'user:settings' %}")
        | Settings

block header
    div.header-title.large-9.medium-10.columns.small-centered
        div.row.clearfix
            div.icon.left
                span.ss-box
            div.text.left
                | Gift Management |
                span.sub &nbsp;All Gifts

block content
    div#rewards-header
        div.large-9.medium-10.columns.small-centered
            div.row.reward-actions
                div.small-12.medium-4.columns.end
                    div.action
                        a.primary-btn.full-btn(href="{% url 'reward:new' %}") + Create Catalog Item
                {% if rewards.count > 0%}
                div.small-12.medium-4.columns.end
                    div.action
                        a.transfer-inventory-start.primary-btn.full-btn(href="javascript:;") + Transfer Inventory
                {% endif %}
                div.small-12.medium-4.columns.end
                    div.action
                        a.primary-btn.full-btn(href="{% url 'reward:request' %}") + Request Inventory
    div#wrapper-reward-dashboard.large-9.medium-10.columns.small-centered
        div#reward-dashboard
            {% if rewards.count == 0 and reward_items.count == 0 %}
            div.section-title
                div.headline GIFT CATALOG
            div.empty-rewards.row
                div.small-12.medium-5.columns
                    div.icon &nbsp;
                div.small-12.medium-7.columns
                    div.title.headline Use Gifts to Engage Your Audince
                    div.description
                        | The 'Catalog' is where you create a template of a gift you would like to distribute. When the Catalog Item is created, you can either send inventory to other organizations, or add some inventory to your own account and distribute it to your audience.
                    div.action
                        a.secondary-btn(href="{% url 'reward:new' %}") + Create Catalog Item
            {% endif %}
            {% if reward_items.count > 0 or giveaways.count > 0 %}
            div.section-title
                div.headline CURRENT INVENTORY
            div.rewards.row
                {% for giveaway in giveaways %}
                div.reward-inventory.giveaway.small-12.medium-4.columns.end(data-id="{{ reward_item.id }}")
                    div.reward
                        div.reward-top.row
                            div.small-12.columns
                                div.reward-image(style="background:url({{ giveaway.item.reward.attachment.source.url }}); background-size:cover; background-position:center center;")
                                    div.reward-alert GIVEAWAY
                                    div.reward-name.headline ${{ giveaway.item.reward.value|floatformat:0 }} &middot; {{ giveaway.item.reward.name }}
                        div.reward-middle.row
                            div.small-12.columns
                                div.from-container
                                    div.from
                                        {% if giveaway.item.reward.creator.image %}
                                        img.logo(src="{{ giveaway.item.reward.creator.image.source.url }}")
                                        {% endif %}
                                        div.from-text
                                            span.light from
                                            br
                                            span {{ giveaway.item.reward.creator.name }}
                        div.reward-stats.row
                            div.small-12.medium-6.columns.text-center.reward-expires-container
                                div.reward-expires
                                    span EXPIRES
                                    span.heavy &nbsp;{{ giveaway.item.expiration_time|date:'m/d/y' }}
                            div.small-12.medium-6.columns.text-center.reward-sent-container
                                div.reward-sent
                                    span.sent-number {{ giveaway.quantity|subtract:giveaway.item.received }}
                                    span &nbsp;/ {{ giveaway.item.received }} Claimed
                        div.reward-bottom.row
                            div.small-12.columns
                                div.row
                                    div.small-12.columns
                                        div.description {{ giveaway.item.reward.description|truncatechars:150 }}
                                div.row
                                    div.actions-container.text-center
                                        div.small-12.medium-6.columns.send-container
                                            div.action
                                                a(href="{% url 'giveaway' giveaway.token %}", target="_blank") View Link
                                        div.small-12.medium-6.columns.discard-container
                                            div.action
                                                a.discard-reward-item(data-id="{{ giveaway.item.id }}", data-type="giveaway") End Giveaway
                {% endfor %}
                {% for reward_item in reward_items %}
                div.reward-inventory.small-12.medium-4.columns.end(data-id="{{ reward_item.id }}")
                    div.reward
                        div.reward-top.row
                            div.small-12.columns
                                div.reward-image(style="background:url({{ reward_item.reward.attachment.source.url }}); background-size:cover; background-position:center center;")
                                    div.reward-name.headline ${{ reward_item.reward.value|floatformat:0 }} &middot; {{ reward_item.reward.name }}
                        div.reward-middle.row
                            div.small-12.columns
                                div.from-container
                                    div.from
                                        {% if reward_item.reward.creator.image %}
                                        img.logo(src="{{ reward_item.reward.creator.image.source.url }}")
                                        {% endif %}
                                        div.from-text
                                            span.light from
                                            br
                                            span {{ reward_item.reward.creator.name }}
                        div.reward-stats.row
                            div.small-12.medium-6.columns.text-center.reward-expires-container
                                div.reward-expires
                                    span EXPIRES
                                    span.heavy &nbsp;{{ reward_item.expiration_time|date:'m/d/y' }}
                            div.small-12.medium-6.columns.text-center.reward-sent-container
                                div.reward-sent
                                    span.sent-number {{ reward_item.quantity|subtract:reward_item.received }}
                                    span &nbsp;/ {{ reward_item.received }} Sent
                        div.reward-bottom.row
                            div.small-12.columns
                                div.row
                                    div.small-12.columns
                                        div.description {{ reward_item.reward.description|truncatechars:150 }}
                                div.row
                                    div.actions-container.text-center
                                        div.small-12.medium-6.columns.send-container
                                            div.action
                                                a.send-gift-item(href="javascript:;", data-id="{{ reward_item.id }}", data-quantity="{{ reward_item.quantity }}", data-name="{{ reward_item.reward.name }}") Send Item
                                        div.small-12.medium-6.columns.discard-container
                                            div.action
                                                a.discard-reward-item(data-id="{{ reward_item.id }}", data-type="inventory") Discard
                                     


                {% endfor %}
            {% endif %}
            {% if rewards.count > 0 %}
            div.section-title
                div.headline GIFT CATALOG
            div.rewards.catalog-rewards.row
                {% for reward in rewards %}
                div.reward-catalog.small-12.columns.end(class="{% if reward.is_deleted %}is-deleted{% endif %}")
                    div.reward
                        div.reward-top.row
                            div.small-12.medium-8.columns
                                div.item-name-container
                                    div.item-name.headline {{ reward.name }}
                            div.small-12.medium-4.columns.text-right
                                div.item-name-container
                                    div.item-name
                                        span.title ACTIVE SINCE
                                        br
                                        span.date {{ reward.created_time|date:'m/d/y' }}
                        div.reward-middle.row
                            div.small-12.medium-5.columns.actions-container
                                div.actions
                                    a(href="{% url 'reward:manage' reward.id %}")
                                        div.action-text View Claims
                                    a.send-reward-btn(href="javascript:;", data-id="{{ reward.id }}", data-name="{{ reward.name }}")
                                        div.action-text Use Catalog Item
                            div.small-12.medium-7.columns.stats-container.text-center
                                div.stats.row.stats-neutral
                                    div.small-12.medium-4.columns
                                        div.stat-container
                                            div.stat.claimed {{ reward.claimed }} Claimed
                                    div.small-12.medium-4.columns
                                        div.stat-container
                                            div.stat {{ reward.redeemed }} Redeemed
                                    div.small-12.medium-4.columns
                                        div.stat-container
                                            div.stat {{ reward.transferred }} Transferred
                                div.stats.row.stats-hover
                                    div.small-12.medium-4.columns
                                        div.stat-container
                                            div.stat.claimed ${{ reward.claimed|multiply:reward.value|floatformat:2 }}<br />Claimed
                                    div.small-12.medium-4.columns
                                        div.stat-container
                                            div.stat ${{ reward.redeemed|multiply:reward.value|floatformat:2 }}<br />Redeemed
                                    div.small-12.medium-4.columns
                                        div.stat-container
                                            div.stat ${{ reward.transferred|multiply:reward.value|floatformat:2 }}<br />Transferred
                        div.reward-bottom.row
                            div.small-12.medium-5.columns
                                div.description-container
                                    div.price.headline ${{ reward.value|floatformat:2 }}
                                    div.description {{ reward.description|truncatechars:200 }}
                                    div.delete-container
                                        a.delete-reward(data-id="{{ reward.id }}") Delete Item
                            div.small-12.medium-7.columns.item-image-container
                                div.item-image(style="background:url({{ reward.attachment.source.url }}); background-size:cover; background-position:center center;")
                {% endfor %}
            {% if deletedRewards > 0 %}
            div.row
                div.small-12.medium-4.columns
                    div.deleted-rewards-btn-container
                        a.show-deleted-rewards.primary-btn.small-btn(href="javascript:;") Show Deleted Items
            {% endif %}
            {% endif %}

    div#send-reward-modal.reveal-modal(data-reveal)
        div.organizer-model.hide
            div.row.organizer
                div.medium-3.columns.organizer-image &nbsp;
                div.medium-6.columns.organizer-name &nbsp;
                div.medium-3.columns.organizer-submit
                    a.add-reward-submit.secondary-btn-inverse.full-btn(href="javascript:;") Add Gifts
        div.row
            div.small-12.columns
                div.section-title
                    div.headline Catalog Item Actions - &nbsp;'
                        span.reward-name &nbsp;
                        |'
                div.send-description 
                    div.description-title From here, you can do 3 things:
                    div.action-item 1) Add quantity of this item to your account as 'Inventory'. You can then distribute this inventory to your audience.
                    div.action-item 2) Transfer quantity of this item to other accounts. This can be done via email or searching for their Bazaarboy profile.
                    div.action-item 3) Create a 'Giveaway'. A Giveaway will generate a link with a quantity of gifts for anyone to claim (one per person).
                hr
        div.row
            div.small-12.columns
                input(type="hidden", name="reward_id", value="")
                div.row
                    div.small-12.medium-6.columns
                        label Quantity
                        input(type="text", name="quantity", placeholder="How Many Gifts?")
                    div.small-12.medium-6.columns
                        label Expiration Date
                        input(type="text", name="expiration", placeholder="Gift Expiration (MM/DD/YYYY)")
                hr
                div.row.send-actions
                    div.small-12.medium-4.columns
                        a.add-reward-submit.primary-btn-inverse.full-btn(href="javascript:;", data-profile="{{ profile.id }}") Add to My Account
                    div.small-12.medium-4.columns
                        a.add-reward-profile.primary-btn-inverse.full-btn(href="javascript:;") Transfer To Someone
                    div.small-12.medium-4.columns
                        a.add-giveaway.primary-btn-inverse.full-btn(href="javascript:;") Create Giveaway
                    div.small-12.columns.email-send.hide
                        hr
                        div.row
                            div.small-12.medium-8.columns
                                input(type="text", name="email_send", placeholder="Organization's Email")
                            div.small-12.medium-4.columns
                                a.send-via-email.secondary-btn.full-btn(href="javascript:;") Send Inventory
                        div.row
                            div.small-12.columns.text-center
                                br
                                | or
                                br
                    div.small-12.columns.profile-search.hide
                        input(type="text", name="profile_search", placeholder="Search Account Name")
        form.add-organizer-form(name="add-organizer")
            div.text-center.searching.headline.hide Searching...

    div#distribute-reward-modal.reveal-modal.medium(data-reveal)
        div.row
            div.small-12.columns
                div.headline Send&nbsp;'
                    span.reward-name &nbsp;
                    |'
                br
                div.send-description Send a gift via email. (You can also send gifts via 
                    a(href="{% url 'list:index' %}") lists
                    |,&nbsp;
                    a(href="{% url 'list:new-sign-up' %}") forms
                    | &nbsp;and&nbsp;
                    a(href="{% url 'index' %}") event attendee lists
                    |)
                hr
        div.row
            div.small-12.columns
                input(type="hidden", name="reward_item_id", value="")
                div.row.send-actions
                    div.small-12.columns.email-send
                        div.row
                            div.small-12.columns
                                input(type="text", name="email_distribute", placeholder="Receiver Email")
                        div.row
                            div.small-12.columns
                                textarea(name="email_message", placeholder="Message To Reciever (ex. Thanks for attending our event, here is your gift!)")
                        div.row
                            div.small-12.medium-4.columns
                                a.send-gift-btn.primary-btn.full-btn(href="javascript:;") Send Gift

append script
    script.
        var profileId = {{ profile.id }};
        var publishableKey = '{{ publishable_key }}';
        var totalSent = {{ totalSent }};
        var hasSubscription = {% if subscription %}true{% else %}false{% endif %};
    script(type="text/javascript", src="{{ STATIC_URL }}pikaday/pikaday.js")
    script(type="text/javascript", src="{{ STATIC_URL }}pikaday/pikaday.jquery.js")
    script(type="text/javascript", src="{{ STATIC_URL }}debounce/jquery.debounce.js")
    script(type="text/javascript", src="https://checkout.stripe.com/v2/checkout.js")
    script(type="text/javascript", src="https://js.stripe.com/v2/")
    script(src="{{ STATIC_URL }}js/reward/index.js")