extends ../layout

block title
    | Rewards Dashboard

append head
    link(rel="stylesheet", href="{{ STATIC_URL }}pikaday/pikaday.css")

block sidebar
    +sidebarItem('ss-newspaper')(href="{% url 'index' %}")
        | Events
    +sidebarItem('ss-database')(href="{% url 'list:index' %}")
        | Lists
    +sidebarItem('ss-tag')(href="{% url 'reward:index' %}")(class="selected")
        | Gifts
    +sidebarItem('ss-share')(href="{% url 'user:settings' %}")
        | Settings

block header
    div.header-title.large-9.medium-10.columns.small-centered
        div.row.clearfix
            div.icon.left
                span.ss-file
            div.text.left
                | Gift Management |
                span.sub &nbsp;All Gifts

block content
    div#rewards-header
        div.large-9.medium-10.columns.small-centered
            div.row.reward-actions
                div.small-12.medium-4.columns.end
                    div.action
                        a.primary-btn.full-btn(href="{% url 'reward:new' %}") + Create Catalog Item
                {% if rewards.count > 0%}
                div.small-12.medium-4.columns.end
                    div.action
                        a.transfer-inventory-start.primary-btn.full-btn(href="javascript:;") + Transfer Inventory
                {% endif %}
                //div.small-12.medium-4.columns.end
                    div.action
                        a.primary-btn.full-btn(href="javascript:;") + Request Inventory
    div#wrapper-reward-dashboard.large-9.medium-10.columns.small-centered
        div#reward-dashboard
            {% if rewards.count == 0 and reward_items.count == 0 %}
            div.section-title
                div.headline GIFT CATALOG
            div.empty-rewards.row
                div.small-12.medium-5.columns
                    div.icon &nbsp;
                div.small-12.medium-7.columns
                    div.title.headline Use Gifts to Engage Your Audince
                    div.description
                        | The 'Catalog' is where you create a template of a gift you would like to distribute. When the Catalog Item is created, you can either send inventory to other organizations, or add some inventory to your own account and distribute it to your audience.
                    div.action
                        a.secondary-btn(href="{% url 'reward:new' %}") + Create Catalog Item
            {% endif %}
            {% if reward_items.count > 0 or giveaways.count > 0 %}
            div.section-title
                div.headline CURRENT INVENTORY
            div.rewards.row
                {% for giveaway in giveaways %}
                div.reward-inventory.small-12.medium-6.columns.end(data-id="{{ reward_item.id }}")
                    div.reward
                        div.reward-info-container
                            div.reward-info
                                div.row
                                    div.small-12.medium-5.columns
                                        div.price GIVEAWAY
                                    div.small-12.medium-7.columns.text-right
                                        div.quantity 
                                            span.sent-number {{ giveaway.quantity|subtract:giveaway.item.received }}
                                            |/{{ giveaway.item.received }} Claimed
                                        div.created Expires in {{ giveaway.item.expiration_time|daysUntil }}
                                div.row
                                    div.small-12.columns
                                        div.description 
                                            div.reward-neutral.name.headline {{ giveaway.item.reward.name }}
                                            div.reward-hover {{ giveaway.item.reward.description|truncatechars:80 }}
                        div.reward-actions.text-center
                            div.reward-action
                                div.row
                                    div.small-12.medium-6.columns.end
                                        a(href="{% url 'giveaway' giveaway.token %}", target="_blank") View Link
                                    div.small-12.medium-6.columns.end
                                        a.discard-reward-item(data-id="{{ giveaway.item.id }}") End Giveaway
                            div.reward-action
                {% endfor %}
                {% for reward_item in reward_items %}
                div.reward-inventory.small-12.medium-6.columns.end(data-id="{{ reward_item.id }}")
                    div.reward
                        div.reward-info-container
                            div.reward-info
                                div.row
                                    div.small-12.medium-5.columns
                                        div.price.headline ${{ reward_item.reward.value|floatformat:2 }}
                                    div.small-12.medium-7.columns.text-right
                                        div.quantity 
                                            span.sent-number {{ reward_item.quantity|subtract:reward_item.received }}
                                            |/{{ reward_item.received }} Sent
                                        div.created Expires in {{ reward_item.expiration_time|daysUntil }}
                                div.row
                                    div.small-12.columns
                                        div.description 
                                            div.reward-neutral.name.headline {{ reward_item.reward.name }}
                                            div.reward-hover {{ reward_item.reward.description|truncatechars:80 }}
                        div.reward-actions.text-center
                            div.reward-action
                                div.row
                                    div.small-12.medium-4.columns.end
                                        a(href="{{ reward_item.reward.attachment.source.url }}", target="_blank") View
                                    div.small-12.medium-4.columns.end
                                        a.send-gift-item(href="javascript:;", data-id="{{ reward_item.id }}", data-quantity="{{ reward_item.quantity }}", data-name="{{ reward_item.reward.name }}") Send
                                    div.small-12.medium-4.columns.end
                                        a.discard-reward-item(data-id="{{ reward_item.id }}") Discard
                            div.reward-action
                {% endfor %}
            {% endif %}
            {% if rewards.count > 0%}
            div.section-title
                div.headline GIFT CATALOG
            div.rewards.catalog-rewards.row
                {% for reward in rewards %}
                div.reward-catalog.small-12.medium-6.columns.end(class="{% if reward.is_deleted %}is-deleted{% endif %}")
                    div.reward
                        div.reward-info-container
                            div.reward-info
                                div.row
                                    div.small-12.medium-5.columns
                                        div.price.headline ${{ reward.value|floatformat:2 }}
                                    div.small-12.medium-7.columns.text-right
                                        div.created Created: {{ reward.created_time|date:'m/d/y' }}
                                div.row
                                    div.small-12.columns
                                        div.name.headline {{ reward.name }}
                                div.row
                                    div.small-12.columns
                                        div.description 
                                            div.reward-neutral {{ reward.description|truncatechars:125 }}
                                            div.reward-hover
                                                div.stat ${{ reward.transferred|multiply:reward.value|floatformat:2 }} Transferred
                                                div.stat ${{ reward.sent|multiply:reward.value|floatformat:2 }} Sent
                                                div.stat ${{ reward.claimed|multiply:reward.value|floatformat:2 }} Claimed
                                                div.stat ${{ reward.redeemed|multiply:reward.value|floatformat:2 }} Redeemed

                            div.reward-stats
                                div.row.text-center
                                    div.small-12.medium-6.columns
                                        div.reward-stat {{ reward.transferred }} Transferred
                                    div.small-12.medium-6.columns
                                        div.reward-stat {{ reward.sent }} Sent
                                    div.small-12.medium-6.columns
                                        div.reward-stat {{ reward.claimed }} Claimed
                                    div.small-12.medium-6.columns
                                        div.reward-stat {{ reward.redeemed }} Redeemed
                            div.reward-actions.text-center.reward-hover
                                div.reward-action
                                    div.row
                                        div.small-12.medium-4.columns.end
                                            a(href="{{ reward.attachment.source.url }}", target="_blank") View
                                        div.small-12.medium-4.columns.end
                                            a(href="{% url 'reward:manage' reward.id %}") Claims
                                        div.small-12.medium-4.columns.end
                                            a.delete-reward(data-id="{{ reward.id }}") Delete
                        div.reward-actions.text-center
                            div.reward-action
                                a.send-reward-btn(href="javascript:;", data-id="{{ reward.id }}", data-name="{{ reward.name }}") Use Catalog Item
                {% endfor %}
            {% if deletedRewards > 0 %}
            div.row
                div.small-12.medium-4.columns
                    div.deleted-rewards-btn-container
                        a.show-deleted-rewards.primary-btn.small-btn(href="javascript:;") Show Deleted Items
            {% endif %}
            {% endif %}

    div#send-reward-modal.reveal-modal(data-reveal)
        div.organizer-model.hide
            div.row.organizer
                div.medium-3.columns.organizer-image &nbsp;
                div.medium-6.columns.organizer-name &nbsp;
                div.medium-3.columns.organizer-submit
                    a.add-reward-submit.secondary-btn-inverse.full-btn(href="javascript:;") Add Gifts
        div.row
            div.small-12.columns
                div.section-title
                    div.headline Catalog Item Actions - &nbsp;'
                        span.reward-name &nbsp;
                        |'
                div.send-description 
                    div.description-title From here, you can do 3 things:
                    div.action-item 1) Add quantity of this item to your account as 'Inventory'. You can then distribute this inventory to your audience.
                    div.action-item 2) Transfer quantity of this item to other accounts. This can be done via email or searching for their Bazaarboy profile.
                    div.action-item 3) Create a 'Giveaway'. A Giveaway will generate a link with a quantity of gifts for anyone to claim (one per person).
                hr
        div.row
            div.small-12.columns
                input(type="hidden", name="reward_id", value="")
                div.row
                    div.small-12.medium-6.columns
                        label Quantity
                        input(type="text", name="quantity", placeholder="How Many Gifts?")
                    div.small-12.medium-6.columns
                        label Expiration Date
                        input(type="text", name="expiration", placeholder="Gift Expiration (MM/DD/YYYY)")
                hr
                div.row.send-actions
                    div.small-12.medium-4.columns
                        a.add-reward-submit.primary-btn-inverse.full-btn(href="javascript:;", data-profile="{{ profile.id }}") Add to My Account
                    div.small-12.medium-4.columns
                        a.add-reward-profile.primary-btn-inverse.full-btn(href="javascript:;") Transfer To Someone
                    div.small-12.medium-4.columns
                        a.add-giveaway.primary-btn-inverse.full-btn(href="javascript:;") Create Giveaway
                    div.small-12.columns.email-send.hide
                        hr
                        div.row
                            div.small-12.medium-8.columns
                                input(type="text", name="email_send", placeholder="Organization's Email")
                            div.small-12.medium-4.columns
                                a.send-via-email.secondary-btn.full-btn(href="javascript:;") Send Inventory
                        div.row
                            div.small-12.columns.text-center
                                br
                                | or
                                br
                    div.small-12.columns.profile-search.hide
                        input(type="text", name="profile_search", placeholder="Search Account Name")
        form.add-organizer-form(name="add-organizer")
            div.text-center.searching.headline.hide Searching...

    div#distribute-reward-modal.reveal-modal.medium(data-reveal)
        div.row
            div.small-12.columns
                div.headline Send&nbsp;'
                    span.reward-name &nbsp;
                    |'
                br
                div.send-description Send a gift via email. (You can also send gifts via 
                    a(href="{% url 'list:index' %}") lists
                    |,&nbsp;
                    a(href="{% url 'list:new-sign-up' %}") forms
                    | &nbsp;and&nbsp;
                    a(href="{% url 'index' %}") event attendee lists
                    |)
                hr
        div.row
            div.small-12.columns
                input(type="hidden", name="reward_item_id", value="")
                div.row.send-actions
                    div.small-12.columns.email-send
                        div.row
                            div.small-12.columns
                                input(type="text", name="email_distribute", placeholder="Receiver Email")
                        div.row
                            div.small-12.columns
                                textarea(name="email_message", placeholder="Message To Reciever (ex. Thanks for attending our event, here is your gift!)")
                        div.row
                            div.small-12.medium-4.columns
                                a.send-gift-btn.primary-btn.full-btn(href="javascript:;") Send Gift

append script
    script.
        var profileId = {{ profile.id }};
        var publishableKey = '{{ publishable_key }}';
        var totalSent = {{ totalSent }};
        var hasSubscription = {% if subscription %}true{% else %}false{% endif %};
    script(type="text/javascript", src="{{ STATIC_URL }}pikaday/pikaday.js")
    script(type="text/javascript", src="{{ STATIC_URL }}pikaday/pikaday.jquery.js")
    script(type="text/javascript", src="{{ STATIC_URL }}debounce/jquery.debounce.js")
    script(type="text/javascript", src="https://checkout.stripe.com/v2/checkout.js")
    script(type="text/javascript", src="https://js.stripe.com/v2/")
    script(src="{{ STATIC_URL }}js/reward/index.js")